/* CSS for website */
	font-family: 'Helvetica Neue';

*{	font-family: 'Helvetica Neue';}

h1{
	font-weight:200!important;
	font-size: 6rem!important;
}

h2{
	color:white;
	padding: 1rem 2rem 1rem 2rem;
	background:black;	
	font-weight: 400!important;
	display:inline-block!important;
	margin-top:1rem!important;
}

blockquote{
	border-left:4px solid navy!important;
	background: rgba(80,80,200,.2);
}

